/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  color: rgb(11, 0, 48);
  background: rgba(110, 188, 230, 0.675);
}

body {
  background-color: rgba(255, 255, 255, 0.603);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: 12vh;
  padding: 10px;
  background-color: rgb(0, 52, 65, 1);
  color: #fff;
  z-index: 1000;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px;
}

.vlab {
  left: 50%;
  font-size:xx-large;
  font-weight: bold;
}
.nav-menu {
  display: flex;
  gap: 20px;
}
@media (min-width: 840px) {
  .logo-container {
    display: flex;
    align-items: center;
  }
  .vlab {
    margin-left: 15px; 
  }
}


.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  padding-right: 10px;
}
.close-btn{
  display: none;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu a {
  margin-left: 15px;
  padding: 15px;
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover {
  background: rgba(111, 248, 248, 0.74);
  cursor: pointer;
}

.yourvlabtitle {
  text-align: center;
  background-color: white;
  color: black;
  padding: 20px 0;
}

/* Navigation styles */
.pageview {
  display: grid;
  place-items: center;
  padding: 10px 0;
  background-color: #fff;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background: rgb(0, 30, 37);
  padding: 10px;
  width: calc(100vw - 20vw);
  justify-content: space-evenly;
  color: white;
}

.navigation .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 125px;
  height: 115px;
  padding: 3px;
  margin: 4px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 30, 37);
  transition: background-color 0.7s ease;
  border: 2.5px solid rgb(215, 211, 211);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: .9rem;
}

.navigation .link:hover {
  background-color: rgba(7, 238, 238, 0.8);
}

.navigation .link img {
  height: 60px;
  margin-bottom: 10px;
}


/* Responsive styles */
@media screen and (max-width: 840px) {
  .header {
    justify-content: space-between; 
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .menu-toggle {
    display: block;
  }
  .close-btn{
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    min-width: 200px;
    flex-direction: column;
    background-color: rgba(4, 74, 74, 0.74);
    backdrop-filter: blur(8px);
    transition: right 0.4s ease;
  }

  .nav-menu.show {
    right: 0;
  }
  .navigation .link {
    margin-top: 14px ;
    margin-left: 6px;
  }
  .copy-button {
    position: absolute;
    padding-right: 500px;
    text-size-adjust:smaller;
  }
  .container .title{
    font-size: 2rem;
  }
}

/* Content sections */
.main_practical {
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
}

.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: calc(100vw - 18vw);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: justify;
}

.container .title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}


/* General List Styling for Theory and Procedure Containers you may adjust as per your need */

/* Remove default list styles */
#theory ul, #procedure ul, #theory ol, #procedure ol {
  list-style: none; /* Remove default bullet points and numbers */
  padding-left: 25px; /* Initial indentation for all lists */
  margin-bottom: 20px; /* Spacing between lists */
  list-style-position: inside; /* Align list markers with text */
  font-size: 1rem; /* Standard font size for readability */
  color: #333; /* Standard dark color for text */
}

/* List Item Styling */
#theory li, #procedure li {
  line-height: 1.6; /* Increased line height for better readability */
  margin-bottom: 12px; /* Spacing between list items */
  position: relative; /* Positioning for custom bullets/numbers */
}

/* Unordered List (ul) Bullet Styling */
#theory ul li::before, #procedure ul li::before {
  content: "\2022"; /* Unicode bullet character */
  position: absolute;
  left: -20px; /* Adjusting position of the bullet */
  color: #474a4d; /* Dark blue for professional look */
  font-size: 1.4rem; /* Moderate size for the bullet */
  top: 50%; /* Align bullet vertically */
  transform: translateY(-50%); /* Corrects vertical alignment */
}

/* Ordered List (ol) Numbering Styling */
#theory ol li::before, #procedure ol li::before {
  content: counter(list-item) ". "; /* Numeric list */
  position: absolute;
  left: -30px; /* Space between number and text */
  color: #474a4d; /* Standard blue color for numbers */
  font-weight: bold; /* Bold numbering */
  font-size: 1.2rem; /* Slightly larger number */
  top: 50%; /* Align number vertically */
  transform: translateY(-50%); /* Corrects vertical alignment */
}

/* Nested List Styling */
#theory ul ul, #procedure ul ul, #theory ol ol, #procedure ol ol {
  padding-left: 35px; /* Increased indentation for nested lists */
}

#theory ul ul li, #procedure ul ul li, #theory ol ol li, #procedure ol ol li {
  font-size: 1rem; /* Slightly smaller text for nested items */
}



/* Link Styling within List Items */
#theory li a, #procedure li a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}


/* Code block styles */
.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

input[type="radio"] {
  display: none;
}

.switch-container label {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #005256;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 10px;
}


.code-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-block {
  display: none;
}

.code-block.active {
  display: block;
}


.copy-button:hover {
  background-color: #555;
}
.code-block {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: hidden;
}
.code-block {
  display: none;
}

.code-block.active {
  display: block;
}


.code-content {
  position: relative;
  min-width: 1080px;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #464646;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-button.copied {
  background-color: #171717;
  color: white;
}

.code-content:hover .copy-button {
  display: block;
}

.copy-button {
  display: none;
}
.switch-container input[type="radio"]:checked + label {
  background-color:#029ba6;
  display: block;
  border: 2px solid rgb(47, 255, 220);
  color: rgb(238, 255, 0);
}

.language-cpp,
.language-python {
  padding: 20px;
  margin: 0;
  font-size: 12px;
  white-space: pre-wrap;
}

/* Quiz */
#quiz {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#quiz .title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

#question {
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.choices .choice {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.choices .choice:hover {
  background-color: #007bff;
  color: #fff;
}


.next-button:hover {
  background-color: #0056b3;
}

#retake-btn {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  width: 50%;
  max-width: 250px;
}

#retake-btn:hover {
  background-color: #218838;
}
#quiz-report {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.quiz-report-question {
  margin-bottom: 15px;
}

.quiz-report-question p {
  font-weight: bold;
}

.quiz-report-question ul {
  list-style-type: none;
  padding-left: 0;
}


/* tnt */
/* Lists styling */
#tnt .content {
  padding: 10px;
  background-color: #ffffff; 

}

#tnt .content span{
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  color: #2e3035;
  margin-bottom: 7px;
  margin-top: 16px; /* Space above each section */
}

/* List Styling */
.ref-list, .tools-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.ref-list li, .tools-list li {
  padding: 10px;
  background-color: #f9fafb; 
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
  color: #333; 
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.ref-list li a, .tools-list li span {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  transition: color 0.3s ease; /* Transition for link hover effect */
}

.ref-list li:hover, .tools-list li:hover {
  background-color: #e6f0ff; /* Soft blue hover effect */
}

.ref-list li a:hover {
  color: #0073e6; /* Change link color on hover */
}

/* Mentors & Students Section Styling */
.ref-list li, .tools-list li {
  font-size: 1.1rem; 
  padding-left: 15px;
}

/* Styling for individual links */
.ref-list li a {
  color: #222529; /* Soft blue color for links */
  font-weight: 500; /* Bold the links slightly */
}



/* Tile control  */
#aim,
#theory,
#procedure,
#code,
#result,
#quiz,
#practice,
#references,
#tnt {
  display: none;
}
#aim {
  display: block;
}

/* Adjustments */
@media screen and (max-width: 500px) {
  .practical {
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    font-size: smaller;
  }
  .navigation .link {
    width: 62px;
    height: 74px;
    padding: 10px;
    font-size: 0.5rem;
    border: 2px solid rgb(215, 211, 211);
    margin-top: 5px ;
    margin-left: 6px;
    border-radius: 14px;
  }
  .navigation .link img {
    height: 30px;
    width: auto;
    margin-bottom: 10px;
  }
  .container {
    padding: 5px;
    margin: 0;
    text-align: left;
    width: calc(100vw- 5vw);
  }
  .choices {
    justify-content: space-between;
  }

  .choices .choice {
    width: 300px;
    margin-left: 10px;
  }
  .code-block {
    overflow: scroll;
    width: 320px;
  }
  #code.container {
    width: 330px;
  }
  .container .title{
    font-size: 1rem;
  }
}

/* practise code styling */

/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f9f9f9;
} */

.controls, button {
    margin-bottom: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.controls_linked button {
    background: #007bff;
    color: white;
}
.controls_linked button:hover {
    background: #0056b3;
}

#first_button {
    background: #007bff;
    color: white;
}
#first_button:hover {
    background: #0056b3;
}
#reset_button{
    background: #007bff;
    color: white;
    margin: 15px;
}

#reset_button:hover {
    background: #0056b3;
}
 

input, .inputlist input {
    padding: 8px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px;
    text-align: center;
}

#nodeValues{
    width: 320px;
    height: 35px;
}
.inputlist input {
    width: 200px;
}

.simulation {
    left: 50px;
    color: green;
}

.input-container {
    position: relative;
    top: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 6px;
}

#searchResult {
  position: relative;
  width: 100%;
  height: auto;
    font-size: 18px;
    font-weight: 800;
    color: black;
    text-align: center;
} 

#runSimulationButton {
    text-align: center;
}

.list-container {
  position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 78px;
    /* margin-left: 0px; */

}

/* .node-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 2px;  
    width: 14%; */
    /* margin: 10px; */
/* } */

.node {
    display: flex;
    width: 80px;
    height: 50px;
    margin: 15px;
    /* background: #f8f8f8; */
    border: 2px solid #000;
    border-radius: 10px;
    position: relative;
    transition: margin 0.3s, transform 0.3s ease-in-out;
}

.node-value, .node-pointer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.node-value {
    background: #f1f1f1;
    border-right: 2px solid #333;
    border-radius: 10px 0px 0px 10px;
}
.node-pointer {
    position: relative;
    border-radius: 0px 10px 10px 0px;

}

.arrow {
    position: absolute;
    font-size: 50px;
    font-weight: 200;
    /* margin: 1px; */
    top: 46%;
    right: -35px;
    transform: translateY(-50%);
    transition: transform 0.3s, opacity 0.3s;
}

.head-pointer, .head-arrow {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    font-weight: bold;
    color: black;
}
.head-pointer {
    font-size: 15px;
    top: -50px;
}
.head-arrow {
    font-size: 24px;
    top: -35px;
}

.null-sign {
    font-size: 24px;
    color: #333;
}

.node-index {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    color: black;
}

/* Animations */
@keyframes headarrowExpand {
    0% { color: green; }
    50% { font-size: 30px; }
    100% { font-size: 24px; color: black; }
}
.pointer-expands {
    animation: headarrowExpand 0.5s ease-in-out;
}

@keyframes nodeSpacing {
    0%, 100% { margin-right: 30px; }
    50% { margin-right: 80px; }
}
.traverse-node {
    animation: nodeSpacing 0.6s ease-in-out;
}

@keyframes arrowExpand {
    0%, 100% { transform: scale(1) translateY(-50%); opacity: 1; }
    50% { transform: scale(1.4) translateY(-50%); opacity: 1; }
}
.traverse-arrow {
    animation: arrowExpand 0.6s ease-in-out;
}

@keyframes nodeBlink {
    0%, 100% { background: yellow; }
    50% { background: white; }
}
.blink-node {
    animation: nodeBlink 0.5s ease-in-out;
}

@keyframes blinkGreen {
    0%, 100% { background: #32CD32; }
    50% { background: white; }
}
.blink-found {
    animation: blinkGreen 0.5s linear infinite;
}

@keyframes blinkRed {
    0%, 100% { color: red; }
    50% { color: white; }
}
.blink-null {
    animation: blinkRed 0.5s linear infinite;
}

@keyframes blinkOpacity {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}
.blink-index {
    animation: blinkOpacity 0.5s linear infinite alternate;
}

#button_god{
    position:relative ;
    top: 2vh;
    width:100%;
    display: flex;
    justify-content: center;
    gap:6px;
    
}

#s1_img{
  position: relative;
  /* height: 340px; */
  width:60%;
  /* left:60px; */
}

#s2_img{
  position: relative;
  /* height: 330px; */
  width: 60%;
}

#s3_img{
  position:relative;
  /* height:280px; */
  width:60%;
  /* left:50px;   */
}
#s4_img{
  position:relative;
  /* height: 40%; */
  width:60%;
  /* left:2px; */
}
#s5_img{
  position:relative;
  /* left:40px; */
  /* height: 286px; */
  width:60%;
}
#s6_img{
  position: relative;
  /* left:40px; */
  /* height:300px; */
  width:60%;

}

#s7_img{
  position: relative;
  /* left:40px; */
  /* height:240px; */
  width: 60%;
}

#s8_img{
  position: relative;
  /* height: 335px; */
  /* left:65px; */
  width:60%;
  
}

#s9_img{
  position:relative;
  /* height:271px; */
  width:60%;
  /* left:34px; */
}

#s10_img{
  position:relative;
  /* left:68px; */
  width:60%;
  /* height:386px; */
}

#s11_img{
  position:relative;
  width:60%;
  /* left:40px; */
  /* height:256px; */
}

#s12_img{
  position:relative;
  /* height:320px; */
  width:60%;
  /* left:85px; */
}


#s13_img{
  position:relative;
  /* height:219px; */
  width:60%;
  /* left:74px; */
}


#head1{
  height:8vh;
  width:100%;
  text-align :center;
}

.controls{
  /* width: 100%; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



/* .content img{
  /* left:10px; */
  /* align-items: center; */
/* } */ 

.content img{
  left:10%;
}

/* To remove input Spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input:disabled,
button:disabled {
  background-color: transparent;
  color: grey;
  border: 1px solid #ccc;
  cursor: not-allowed;
  transition: border-color 0.3s, box-shadow 0.3s;
}


#quiz{
  /* margin:none;
  padding:none ; */
  color: black;
}

#options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#quiz_head{
    text-align: center;
    font-size: 35px;
}
#question{
    text-align:center;
    font-size: 20px;
    color: #000;
}

#options button{
    width:70%;
    height:auto;
    margin-bottom: 10px;
    font-size:20px;
    text-align: left;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    color:black;
}

#options button:hover{
    background-color: rgb(21, 148, 252);
    color:white;
    border-color: black;
    font-weight: 400;
}

#last_btn{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#last_btn button{
    font-size: 20px;
}


#next{
    margin-right:10px;
    background: transparent;
    border: 2px solid black;
    font-weight: 400;
}

#next:hover{
  background-color: rgb(246, 234, 10);
    color:black;
    border-color: black;
    font-weight: 600;
}

#back{
    margin-left:30px;
    background: transparent;
    border: 2px solid black;
}
#back:hover{
  background-color:  rgb(246, 234, 10);
    color:black;
    border-color: black;
    font-weight: 600;
}

#result1 h1{
    text-align: center;
    font-size: 28px;
}

#retake{
  margin-top: 20px;
  display: none;
  background-color: transparent;
  border:2px solid black;
  font-weight: 600;

}

#retake:hover{
    background-color: rgb(15, 169, 25);
    color:yellow;
    border-color: black;
}

/* procedure */
#theory ul, #procedure ul, #theory ol, #procedure ol {
    list-style: none;
    padding-left: 51px;
    margin-bottom: 20px;
    list-style-position: inside;
    font-size: 1rem;
    color: #333;
}


#practise_step{
  position: relative;
  left:15px;
  top: 10px;
}

#practice{
    width: 1000px; /* or your desktop layout width */
    max-width: 100%;
    margin: auto;
    overflow-x: auto;  /* allows scrolling on small devices */
  }


  #theory{
    text-align: justify;
  }